@import "tailwindcss";

@theme {
  --color-primary-50: #eff4ff;
  --color-primary-100: #dbe6fe;
  --color-primary-600: #1e3a8a;
  --color-primary-700: #172554;
  --color-primary-900: #0f172a;

  --color-success-50: #f0fdf4;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;

  --color-warning-50: #fffbeb;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;

  --color-danger-50: #fef2f2;
  --color-danger-500: #ef4444;
  --color-danger-600: #dc2626;

  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-600: #475569;
  --color-neutral-900: #0f172a;
}

body {
  background-color: var(--color-neutral-50);
}